<!-- Tufts VUE 3.3.0 concept-map (schema-carte-postale.vue) 2017-02-27 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/usr/bin/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Mon Feb 27 12:15:23 CET 2017 by leo on platform Linux 3.19.0-32-generic in JVM 1.7.0_91-b02 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0"
    label="schema-carte-postale.vue" created="1488193266087" x="0.0"
    y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1488194123983" size="13166"
        spec="/home/leo/Bureau/schema-carte-postale.vue" type="1" xsi:type="URLResource">
        <title>schema-carte-postale.vue</title>
        <property key="File" value="/home/leo/Bureau/schema-carte-postale.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/7f40d25e7f000101656839694baf5b38</URIString>
    <child ID="6" label="document" layerID="1" created="1488193285839"
        x="168.0" y="403.0" width="89.3" height="33.3" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f40d2627f000101656839694271a105</URIString>
        <shape xsi:type="hexagon"/>
    </child>
    <child ID="7" label="metadonnes" layerID="1" created="1488193297642"
        x="-44.0" y="309.0" width="90.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f40d2727f00010165683969ed6dd567</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="8" layerID="1" created="1488193524148" x="25.04837"
        y="331.5" width="159.60953" height="75.30252" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f40d2767f00010165683969730792cf</URIString>
        <point1 x="184.1579" y="406.30252"/>
        <point2 x="25.548378" y="332.0"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">7</ID2>
    </child>
    <child ID="9" label="contenu" layerID="1" created="1488193525405"
        x="394.0" y="317.0" width="63.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f40d27a7f00010165683969a4d70058</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="10" layerID="1" created="1488193536423" x="241.55586"
        y="338.76535" width="159.30527" height="68.79199"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f40d27e7f00010165683969c63cb8aa</URIString>
        <point1 x="242.05585" y="407.05734"/>
        <point2 x="400.3611" y="339.26535"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">9</ID2>
    </child>
    <child ID="11" label="principal" layerID="1" created="1488193544582"
        x="188.0" y="241.0" width="64.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f40d2847f000101656839697d2523ae</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="12" label="affranchissement" layerID="1"
        created="1488193549685" x="391.0" y="241.0" width="120.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f40d2877f0001016568396909ca6837</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="13" label="destinataire" layerID="1"
        created="1488193557448" x="593.0" y="241.0" width="87.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f40d28b7f00010165683969c6972bda</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="14" label="auteur" layerID="1" created="1488193564925"
        x="-79.5" y="241.0" width="53.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f40d28e7f00010165683969d8f65da4</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="15" label="type" layerID="1" created="1488193569833"
        x="3.0" y="241.0" width="38.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f40d2927f00010165683969e195d909</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="16" layerID="1" created="1488193575447" x="-44.367645"
        y="263.5" width="36.735283" height="46.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f40d2967f00010165683969f5528f73</URIString>
        <point1 x="-8.132363" y="309.0"/>
        <point2 x="-43.867645" y="264.0"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">14</ID2>
    </child>
    <child ID="17" layerID="1" created="1488193576924" x="4.0514717"
        y="263.5" width="14.897057" height="46.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f40d29b7f000101656839694be68bcd</URIString>
        <point1 x="4.551471" y="309.0"/>
        <point2 x="18.448528" y="264.0"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">15</ID2>
    </child>
    <child ID="18" layerID="1" created="1488193591351" x="246.48282"
        y="261.97906" width="152.85732" height="57.161316"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f40d29f7f00010165683969678c92c8</URIString>
        <point1 x="398.84012" y="318.64038"/>
        <point2 x="246.9828" y="262.47906"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">11</ID2>
    </child>
    <child ID="19" layerID="1" created="1488193592413" x="428.85858"
        y="263.5" width="18.782867" height="54.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f40d2a47f0001016568396978ef2cd1</URIString>
        <point1 x="429.35855" y="317.0"/>
        <point2 x="447.14142" y="264.0"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">12</ID2>
    </child>
    <child ID="21" layerID="1" created="1488193596772" x="451.90833"
        y="263.5" width="153.16403" height="55.807922" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f40d2bc7f00010165683969a7ecc6bc</URIString>
        <point1 x="452.40836" y="318.80792"/>
        <point2 x="604.5724" y="264.0"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">13</ID2>
    </child>
    <child ID="22" label="titre" layerID="1" created="1488193769250"
        x="67.0" y="170.0" width="37.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f48390e7f00010165683969ff2a59b1</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="23" label="paragraphe" layerID="1"
        created="1488193771712" x="119.9375" y="170.0" width="85.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f4839127f0001016568396948f1910e</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="24" label="image" layerID="1" created="1488193780822"
        x="321.8125" y="170.0" width="49.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f4839157f000101656839690451110e</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="25" label="paragraphe" layerID="1"
        created="1488193787657" x="220.875" y="170.0" width="85.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f4839187f000101656839693f793bbd</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="26" layerID="1" created="1488193807368" x="100.74582"
        y="189.31192" width="97.96897" height="52.18808"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f48391b7f00010165683969cc24dd47</URIString>
        <point1 x="198.21478" y="241.0"/>
        <point2 x="101.24581" y="189.81192"/>
        <ID1 xsi:type="node">11</ID1>
        <ID2 xsi:type="node">22</ID2>
    </child>
    <child ID="27" layerID="1" created="1488193809126" x="171.261"
        y="192.5" width="39.915497" height="49.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f4839217f000101656839690c976209</URIString>
        <point1 x="210.6765" y="241.0"/>
        <point2 x="171.761" y="193.0"/>
        <ID1 xsi:type="node">11</ID1>
        <ID2 xsi:type="node">23</ID2>
    </child>
    <child ID="28" layerID="1" created="1488193810741" x="226.52551"
        y="192.49997" width="30.323975" height="49.00003"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f48392a7f0001016568396902d10935</URIString>
        <point1 x="227.02551" y="241.0"/>
        <point2 x="256.3495" y="192.99997"/>
        <ID1 xsi:type="node">11</ID1>
        <ID2 xsi:type="node">25</ID2>
    </child>
    <child ID="29" layerID="1" created="1488193812456" x="239.95909"
        y="191.50922" width="88.15701" height="49.9908"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f48392e7f00010165683969b60101d9</URIString>
        <point1 x="240.45908" y="241.0"/>
        <point2 x="327.6161" y="192.0092"/>
        <ID1 xsi:type="node">11</ID1>
        <ID2 xsi:type="node">24</ID2>
    </child>
    <child ID="30" label="timbre" layerID="1" created="1488193826445"
        x="396.0" y="170.0" width="51.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f4839327f0001016568396991322cb4</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="31" label="timbre" layerID="1" created="1488193832602"
        x="465.5" y="170.0" width="51.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f4839367f000101656839692df8a5e2</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="32" layerID="1" created="1488193838177" x="425.77814"
        y="192.5" width="20.943695" height="49.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f4839387f0001016568396934a9c53a</URIString>
        <point1 x="446.22183" y="241.0"/>
        <point2 x="426.27814" y="193.0"/>
        <ID1 xsi:type="node">12</ID1>
        <ID2 xsi:type="node">30</ID2>
    </child>
    <child ID="33" layerID="1" created="1488193839932" x="456.97882"
        y="192.5" width="28.042328" height="49.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f48393c7f0001016568396974f112c2</URIString>
        <point1 x="457.47882" y="241.0"/>
        <point2 x="484.52115" y="193.0"/>
        <ID1 xsi:type="node">12</ID1>
        <ID2 xsi:type="node">31</ID2>
    </child>
    <child ID="34" label="nom" layerID="1" created="1488193984717"
        x="585.5" y="170.0" width="38.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f4839417f0001016568396910db7f98</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="35" label="adresse" layerID="1" created="1488193989913"
        x="659.5" y="170.0" width="62.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f4839447f00010165683969b39ee8b3</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="36" label="numero" layerID="1" created="1488194003618"
        x="595.5" y="104.0" width="59.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f4839477f00010165683969b6829f8d</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="37" label="rue" layerID="1" created="1488194008265"
        x="661.5" y="104.0" width="32.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f48394b7f00010165683969713983bc</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="38" label="cp" layerID="1" created="1488194013022"
        x="702.5" y="104.0" width="26.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f48394f7f00010165683969dd836b4e</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="39" label="localite" layerID="1" created="1488194018341"
        x="736.5" y="104.0" width="56.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f4839547f00010165683969af583eb2</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="40" layerID="1" created="1488194028617" x="635.91284"
        y="126.5" width="43.674316" height="44.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f4839587f000101656839693ff3d88a</URIString>
        <point1 x="679.08716" y="170.0"/>
        <point2 x="636.41284" y="127.0"/>
        <ID1 xsi:type="node">35</ID1>
        <ID2 xsi:type="node">36</ID2>
    </child>
    <child ID="41" layerID="1" created="1488194030175" x="679.26514"
        y="126.5" width="9.469666" height="44.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f48395e7f00010165683969582adaf8</URIString>
        <point1 x="688.23486" y="170.0"/>
        <point2 x="679.7652" y="127.0"/>
        <ID1 xsi:type="node">35</ID1>
        <ID2 xsi:type="node">37</ID2>
    </child>
    <child ID="42" layerID="1" created="1488194032078" x="694.3561"
        y="126.24573" width="17.384155" height="44.25415"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f4839627f000101656839692bbd0f54</URIString>
        <point1 x="694.8561" y="169.99988"/>
        <point2 x="711.24023" y="126.74573"/>
        <ID1 xsi:type="node">35</ID1>
        <ID2 xsi:type="node">38</ID2>
    </child>
    <child ID="43" layerID="1" created="1488194034121" x="702.8939"
        y="126.5" width="49.212097" height="44.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f4839657f000101656839697ae633af</URIString>
        <point1 x="703.394" y="170.0"/>
        <point2 x="751.6061" y="127.0"/>
        <ID1 xsi:type="node">35</ID1>
        <ID2 xsi:type="node">39</ID2>
    </child>
    <child ID="44" layerID="1" created="1488194036275" x="644.74646"
        y="192.5" width="37.50702" height="49.00006" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f4839697f000101656839690b5fb363</URIString>
        <point1 x="645.24646" y="241.00006"/>
        <point2 x="681.7535" y="193.0"/>
        <ID1 xsi:type="node">13</ID1>
        <ID2 xsi:type="node">35</ID2>
    </child>
    <child ID="45" layerID="1" created="1488194037982" x="609.1831"
        y="192.50012" width="22.63379" height="48.999878"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7f48396d7f00010165683969f661ba72</URIString>
        <point1 x="631.3169" y="241.0"/>
        <point2 x="609.6831" y="193.00012"/>
        <ID1 xsi:type="node">13</ID1>
        <ID2 xsi:type="node">34</ID2>
    </child>
    <layer ID="1" label="Layer 1" created="1488193266097" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/7f40d2c07f000101656839694c91e062</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="-193.5" y="-14.0"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Chemin sans nom" created="1488193266080"
            x="0.0" y="0.0" width="1.4E-45" height="1.4E-45"
            strokeWidth="0.0" autoSized="false" currentIndex="-1" open="true">
            <strokeColor>#B3993333</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/7f40d2c47f0001016568396933af6479</URIString>
            <masterSlide ID="2" created="1488193266166" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/7f40d2c87f00010165683969f9dfd76e</URIString>
                <titleStyle ID="3" label="Header"
                    created="1488193266323" x="329.0" y="174.5"
                    width="142.0" height="51.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/7f40d2cc7f0001016568396933f8718f</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1488193266332" x="340.0" y="282.5"
                    width="120.0" height="35.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/7f40d2d17f00010165683969da72c001</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1488193266340"
                    x="372.5" y="385.0" width="55.0" height="30.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/7f40d2d67f00010165683969bebcda12</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2017-02-27</date>
    <modelVersion>6</modelVersion>
    <saveLocation>/home/leo/Bureau</saveLocation>
    <saveFile>/home/leo/Bureau/schema-carte-postale.vue</saveFile>
</LW-MAP>
