<!-- Tufts VUE 3.3.0 concept-map (schema-lexique-arborescence--freres.vue) 2017-02-27 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/usr/bin/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Mon Feb 27 15:34:42 CET 2017 by leo on platform Linux 3.19.0-32-generic in JVM 1.7.0_91-b02 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0"
    label="schema-lexique-arborescence--freres.vue"
    created="1488205920691" x="0.0" y="0.0" width="1.4E-45"
    height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1488206082796" size="13538"
        spec="/home/leo/git/cours/programmation/7-cours-fondamentaux/cours-2-html/images/schema-lexique-arborescence--freres.vue"
        type="1" xsi:type="URLResource">
        <title>schema-lexique-arborescence--freres.vue</title>
        <property key="File" value="/home/leo/git/cours/programmation/7-cours-fondamentaux/cours-2-html/images/schema-lexique-arborescence--freres.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/7ffe32a67f0001014ec713e8e620c722</URIString>
    <child ID="6" label="0" layerID="1" created="1488205921813"
        x="222.5163" y="226.25" width="19.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7ffe32ae7f0001014ec713e8cef87641</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="7" label="2" layerID="1" created="1488205921813"
        x="249.0163" y="144.25" width="19.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7ffe32bb7f0001014ec713e806470f6f</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="8" label="4" layerID="1" created="1488205921813"
        x="223.5163" y="62.75" width="19.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7ffe32c07f0001014ec713e83b5b6fda</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="9" label="1" layerID="1" created="1488205921813"
        x="144.0163" y="144.25" width="19.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7ffe32c57f0001014ec713e879cc9e09</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="10" label="5" layerID="1" created="1488205921813"
        x="331.0163" y="62.75" width="19.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7ffe32c97f0001014ec713e847c5fb91</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="11" layerID="1" created="1488205921813" x="160.33018"
        y="162.88998" width="64.87222" height="67.72003"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7ffe32cd7f0001014ec713e8e4b4a64f</URIString>
        <point1 x="224.70241" y="230.11002"/>
        <point2 x="160.83018" y="163.38998"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">9</ID2>
    </child>
    <child ID="12" layerID="1" created="1488205921813" x="234.99393"
        y="166.01093" width="20.544754" height="61.47815"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7ffe32d37f0001014ec713e8dcfb1881</URIString>
        <point1 x="235.49391" y="226.98907"/>
        <point2 x="255.03867" y="166.51093"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">7</ID2>
    </child>
    <child ID="13" layerID="1" created="1488205921813" x="235.89012"
        y="84.53302" width="19.75235" height="60.93396"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7ffe32d77f0001014ec713e8e9ce5478</URIString>
        <point1 x="255.14247" y="144.96698"/>
        <point2 x="236.39012" y="85.03302"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">8</ID2>
    </child>
    <child ID="14" layerID="1" created="1488205921813" x="265.47528"
        y="81.16351" width="68.08203" height="67.67297"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7ffe32db7f0001014ec713e8accaf140</URIString>
        <point1 x="265.97528" y="148.33649"/>
        <point2 x="333.0573" y="81.66351"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">10</ID2>
    </child>
    <child ID="19" label="3" layerID="1" created="1488205942714"
        x="114.53552" y="62.75" width="19.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7ffe32df7f0001014ec713e89c682613</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="20" layerID="1" created="1488205958078" x="127.3748"
        y="84.36377" width="22.802208" height="61.27249"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7ffe32e47f0001014ec713e842e670dc</URIString>
        <point1 x="149.67702" y="145.13626"/>
        <point2 x="127.87481" y="84.86377"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">19</ID2>
    </child>
    <child ID="21" label="4 et 5&#xa;sont&#xa;fr&#xe8;res" layerID="1"
        created="1488205970116" x="240.28905" y="27.418556"
        width="92.62056" height="42.0" strokeWidth="1.0" strokeStyle="1"
        autoSized="false" controlCount="1" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7ffe32f07f0001014ec713e843200066</URIString>
        <point1 x="240.78905" y="67.326416"/>
        <point2 x="332.4096" y="67.84781"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">10</ID2>
        <ctrlPoint0 x="283.53552" y="29.25" xsi:type="point"/>
    </child>
    <child ID="22" label="3 et 4&#xa;ne sont PAS&#xa;fr&#xe8;res"
        layerID="1" created="1488205990031" x="131.43477" y="28.542961"
        width="93.78259" height="42.0" strokeWidth="1.0" strokeStyle="1"
        autoSized="false" controlCount="1" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7ffe32f77f0001014ec713e87f0f2033</URIString>
        <point1 x="131.93477" y="67.52392"/>
        <point2 x="224.71736" y="68.14792"/>
        <ID1 xsi:type="node">19</ID1>
        <ID2 xsi:type="node">8</ID2>
        <ctrlPoint0 x="174.53552" y="31.25" xsi:type="point"/>
    </child>
    <child ID="23" label="1 et 2&#xa;sont&#xa;fr&#xe8;res" layerID="1"
        created="1488206022181" x="160.96455" y="112.43283"
        width="89.44347" height="42.0" strokeWidth="1.0" strokeStyle="1"
        autoSized="false" controlCount="1" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7ffe32fc7f0001014ec713e8a8da8a30</URIString>
        <point1 x="161.46455" y="149.10045"/>
        <point2 x="249.90802" y="150.13089"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">7</ID2>
        <ctrlPoint0 x="199.53552" y="117.25" xsi:type="point"/>
    </child>
    <layer ID="1" label="Layer 1" created="1488205920693" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/7ffe33007f0001014ec713e87602b30d</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="-176.46448" y="-121.75"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Chemin sans nom" created="1488205920691"
            x="0.0" y="0.0" width="1.4E-45" height="1.4E-45"
            strokeWidth="0.0" autoSized="false" currentIndex="-1" open="true">
            <strokeColor>#B333CC33</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/7ffe33047f0001014ec713e80b654b7c</URIString>
            <masterSlide ID="2" created="1488205920721" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/7ffe33077f0001014ec713e81b8f109c</URIString>
                <titleStyle ID="3" label="Header"
                    created="1488205920761" x="329.0" y="174.5"
                    width="142.0" height="51.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/7ffe330a7f0001014ec713e876cf1c93</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1488205920763" x="340.0" y="282.5"
                    width="120.0" height="35.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/7ffe33127f0001014ec713e85699b6dc</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1488205920766"
                    x="372.5" y="385.0" width="55.0" height="30.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/7ffe33167f0001014ec713e82706937b</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2017-02-27</date>
    <modelVersion>6</modelVersion>
    <saveLocation>/home/leo/git/cours/programmation/7-cours-fondamentaux/cours-2-html/images</saveLocation>
    <saveFile>/home/leo/git/cours/programmation/7-cours-fondamentaux/cours-2-html/images/schema-lexique-arborescence--freres.vue</saveFile>
</LW-MAP>
