<!-- Tufts VUE 3.3.0 concept-map (schema-lexique-arborescence--enfants-parents.vue) 2017-02-27 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/usr/bin/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Mon Feb 27 15:10:36 CET 2017 by leo on platform Linux 3.19.0-32-generic in JVM 1.7.0_91-b02 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0"
    label="schema-lexique-arborescence--enfants-parents.vue"
    created="1488204436967" x="0.0" y="0.0" width="1.4E-45"
    height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1488204636644"
        spec="/home/leo/git/cours/programmation/7-cours-fondamentaux/cours-2-html/images/schema-lexique-arborescence--enfants-parents.vue"
        type="1" xsi:type="URLResource">
        <title>schema-lexique-arborescence--enfants-parents.vue</title>
        <property key="File" value="/home/leo/git/cours/programmation/7-cours-fondamentaux/cours-2-html/images/schema-lexique-arborescence--enfants-parents.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/7fe8a1eb7f0001014ec713e8302798f9</URIString>
    <child ID="6" label="0" layerID="1" created="1488204464813"
        x="385.0" y="287.25" width="19.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe8a1ef7f0001014ec713e898e6aa66</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="7" label="2" layerID="1" created="1488204464813"
        x="411.5" y="205.25" width="19.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe8a1f47f0001014ec713e86d40cdde</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="8" label="3" layerID="1" created="1488204464813"
        x="386.0" y="123.75" width="19.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe8a1f87f0001014ec713e89b5df0a5</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="9" label="1" layerID="1" created="1488204464813"
        x="306.5" y="205.25" width="19.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe8a1fd7f0001014ec713e88f5ffe72</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="10" label="4" layerID="1" created="1488204464813"
        x="493.5" y="123.75" width="19.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe8a2007f0001014ec713e83a58e0f1</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="11" layerID="1" created="1488204464813" x="322.8139"
        y="223.89" width="64.87219" height="67.72" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe8a2037f0001014ec713e8ae04afdb</URIString>
        <point1 x="387.1861" y="291.11002"/>
        <point2 x="323.3139" y="224.39001"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">9</ID2>
    </child>
    <child ID="12" layerID="1" created="1488204464813" x="397.4776"
        y="227.01099" width="20.544739" height="61.478027"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe8a2077f0001014ec713e832d2878e</URIString>
        <point1 x="397.9776" y="287.989"/>
        <point2 x="417.52234" y="227.51099"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">7</ID2>
    </child>
    <child ID="13" layerID="1" created="1488204464813" x="398.37384"
        y="145.53296" width="19.75235" height="60.93396"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe8a20a7f0001014ec713e8e50f9a90</URIString>
        <point1 x="417.62616" y="205.96692"/>
        <point2 x="398.8738" y="146.03296"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">8</ID2>
    </child>
    <child ID="14" layerID="1" created="1488204464813" x="427.95898"
        y="142.16348" width="68.08206" height="67.673035"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe8a20e7f0001014ec713e8c6c8b1a8</URIString>
        <point1 x="428.45895" y="209.33652"/>
        <point2 x="495.54102" y="142.66348"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">10</ID2>
    </child>
    <child ID="15" label="1 est l'enfant de 0" layerID="1"
        created="1488204488804" x="236.01923" y="222.97003"
        width="149.48077" height="75.74182" strokeWidth="1.0"
        strokeStyle="1" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe8a2177f0001014ec713e86737fb3b</URIString>
        <point1 x="308.09686" y="223.47003"/>
        <point2 x="385.0" y="298.21185"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">6</ID2>
        <ctrlPoint0 x="230.49002" y="289.45923" xsi:type="point"/>
    </child>
    <child ID="17" label="0 est le parent de 2" layerID="1"
        created="1488204521417" x="403.5" y="221.43698"
        width="129.44821" height="76.815674" strokeWidth="1.0"
        strokeStyle="1" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe8a21d7f0001014ec713e8cbb92f69</URIString>
        <point1 x="404.0" y="297.75266"/>
        <point2 x="429.79282" y="221.93698"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">7</ID2>
        <ctrlPoint0 x="535.0" y="284.0" xsi:type="point"/>
    </child>
    <child ID="18"
        label="0 n'est PAS le parent de 3&#xa;3 n'est PAS l'enfant de 0"
        layerID="1" created="1488204568869" x="267.78348" y="135.283"
        width="150.0" height="154.65663" strokeWidth="1.0"
        strokeStyle="1" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe8a2237f0001014ec713e88b4d7768</URIString>
        <point1 x="388.8241" y="289.43964"/>
        <point2 x="386.0" y="135.783"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">8</ID2>
        <ctrlPoint0 x="298.15494" y="140.71153" xsi:type="point"/>
    </child>
    <layer ID="1" label="Layer 1" created="1488204436969" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/7fe8a2287f0001014ec713e8ab996050</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="-14.0" y="-14.0"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Chemin sans nom" created="1488204436967"
            x="0.0" y="0.0" width="1.4E-45" height="1.4E-45"
            strokeWidth="0.0" autoSized="false" currentIndex="-1" open="true">
            <strokeColor>#B3CC33CC</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/7fe8a22c7f0001014ec713e89686adbc</URIString>
            <masterSlide ID="2" created="1488204436994" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/7fe8a22f7f0001014ec713e8e72857a7</URIString>
                <titleStyle ID="3" label="Header"
                    created="1488204437060" x="329.0" y="174.5"
                    width="142.0" height="51.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/7fe8a2327f0001014ec713e82e4c8b22</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1488204437064" x="340.0" y="282.5"
                    width="120.0" height="35.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/7fe8a2357f0001014ec713e8a5766600</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1488204437067"
                    x="372.5" y="385.0" width="55.0" height="30.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/7fe8a2397f0001014ec713e803088ab3</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2017-02-27</date>
    <modelVersion>6</modelVersion>
    <saveLocation>/home/leo/git/cours/programmation/7-cours-fondamentaux/cours-2-html/images</saveLocation>
    <saveFile>/home/leo/git/cours/programmation/7-cours-fondamentaux/cours-2-html/images/schema-lexique-arborescence--enfants-parents.vue</saveFile>
</LW-MAP>
