<!-- Tufts VUE 3.3.0 concept-map (schema-lexique-arborescence--ancetres-descendants.vue) 2017-02-27 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/usr/bin/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Mon Feb 27 15:45:43 CET 2017 by leo on platform Linux 3.19.0-32-generic in JVM 1.7.0_91-b02 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0"
    label="schema-lexique-arborescence--ancetres-descendants.vue"
    created="1488206348487" x="0.0" y="0.0" width="297.5952"
    height="187.5" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1488206744174" size="14403"
        spec="/home/leo/git/cours/programmation/7-cours-fondamentaux/cours-2-html/images/schema-lexique-arborescence--ancetres-descendants.vue"
        type="1" xsi:type="URLResource">
        <title>schema-lexique-arborescence--ancetres-descendants.vue</title>
        <property key="File" value="/home/leo/git/cours/programmation/7-cours-fondamentaux/cours-2-html/images/schema-lexique-arborescence--ancetres-descendants.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/80048d0c7f0001014ec713e86cad8c6b</URIString>
    <child ID="6" label="0" layerID="1" created="1488206349723"
        x="341.24036" y="248.91571" width="19.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/80048d0e7f0001014ec713e800857ca5</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="7" label="2" layerID="1" created="1488206349723"
        x="367.74036" y="166.91571" width="19.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/80048d117f0001014ec713e81a5d9c8e</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="8" label="4" layerID="1" created="1488206349723"
        x="342.24036" y="85.41571" width="19.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/80048d137f0001014ec713e82c216ab9</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="9" label="1" layerID="1" created="1488206349723"
        x="262.7404" y="166.91571" width="19.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/80048d157f0001014ec713e8a666bd88</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="10" label="5" layerID="1" created="1488206349723"
        x="449.74036" y="85.41571" width="19.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/80048d177f0001014ec713e830e68fcb</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="11" layerID="1" created="1488206349723" x="279.05426"
        y="185.55573" width="64.87216" height="67.72" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/80048d197f0001014ec713e8bd5c8155</URIString>
        <point1 x="343.42645" y="252.77573"/>
        <point2 x="279.5543" y="186.05573"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">9</ID2>
    </child>
    <child ID="12" layerID="1" created="1488206349723" x="353.71802"
        y="188.67664" width="20.544739" height="61.47815"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/80048d1c7f0001014ec713e8fc81231e</URIString>
        <point1 x="354.21802" y="249.65479"/>
        <point2 x="373.76276" y="189.17664"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">7</ID2>
    </child>
    <child ID="13" layerID="1" created="1488206349723" x="354.6142"
        y="107.19885" width="19.75232" height="60.933716"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/80048d1e7f0001014ec713e853abcc4f</URIString>
        <point1 x="373.86652" y="167.63257"/>
        <point2 x="355.1142" y="107.69885"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">8</ID2>
    </child>
    <child ID="14" layerID="1" created="1488206349723" x="384.1993"
        y="103.82922" width="68.08209" height="67.673035"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/80048d217f0001014ec713e8c8ec2b08</URIString>
        <point1 x="384.6993" y="171.00226"/>
        <point2 x="451.7814" y="104.32922"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">10</ID2>
    </child>
    <child ID="15" label="3" layerID="1" created="1488206349723"
        x="233.25961" y="85.41571" width="19.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/80048d237f0001014ec713e88333405e</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="16" layerID="1" created="1488206349723" x="246.09889"
        y="107.02948" width="22.802216" height="61.272522"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/80048d257f0001014ec713e8269aed35</URIString>
        <point1 x="268.40112" y="167.802"/>
        <point2 x="246.5989" y="107.52948"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">15</ID2>
    </child>
    <child ID="21" label="3 est le&#xa;descendant&#xa;de 1" layerID="1"
        created="1488206408352" x="251.75961" y="97.70862"
        width="83.90524" height="73.609436" strokeWidth="1.0"
        strokeStyle="1" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/80048d287f0001014ec713e8e1a072b3</URIString>
        <point1 x="279.58136" y="170.81805"/>
        <point2 x="252.25961" y="98.20862"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">15</ID2>
        <ctrlPoint0 x="338.40918" y="109.93315" xsi:type="point"/>
    </child>
    <child ID="22" layerID="1" created="1488206438866" x="205.78876"
        y="144.15799" width="136.30478" height="113.41617"
        strokeWidth="1.0" strokeStyle="1" autoSized="false"
        controlCount="1" arrowState="1" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/80048d2b7f0001014ec713e8a9261754</URIString>
        <point1 x="206.28876" y="144.65799"/>
        <point2 x="341.59354" y="257.07416"/>
        <ID1 xsi:type="link">20</ID1>
        <ID2 xsi:type="node">6</ID2>
        <ctrlPoint0 x="210.0" y="209.0" xsi:type="point"/>
    </child>
    <child ID="20"
        label="0 et 1&#xa;sont les&#xa;anc&#xe8;tres&#xa;de 3"
        layerID="1" created="1488206362008" x="180.78876" y="102.16258"
        width="82.63315" height="74.30681" strokeWidth="1.0"
        strokeStyle="1" autoSized="false" controlCount="1"
        arrowState="1" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/80048d307f0001014ec713e8c34b113d</URIString>
        <point1 x="234.23315" y="102.66258"/>
        <point2 x="262.9219" y="175.96939"/>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">9</ID2>
        <ctrlPoint0 x="164.0" y="150.0" xsi:type="point"/>
    </child>
    <child ID="23" label="5 n'est PAS&#xa;le descendant&#xa;de 1"
        layerID="1" created="1488206496630" x="280.88068" y="107.296265"
        width="197.5033" height="118.100555" strokeWidth="1.0"
        strokeStyle="1" autoSized="false" controlCount="1"
        arrowState="1" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/8005b8c47f0001014ec713e8db97d740</URIString>
        <point1 x="462.15512" y="107.796265"/>
        <point2 x="281.38068" y="181.79105"/>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">9</ID2>
        <ctrlPoint0 x="504.0" y="264.0" xsi:type="point"/>
    </child>
    <layer ID="1" label="Layer 1" created="1488206348488" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/80048d337f0001014ec713e8d550849b</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="-14.0" y="-14.0"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Chemin sans nom" created="1488206348486"
            x="0.0" y="0.0" width="1.4E-45" height="1.4E-45"
            strokeWidth="0.0" autoSized="false" currentIndex="-1" open="true">
            <strokeColor>#B333CCCC</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/80048d377f0001014ec713e83171395c</URIString>
            <masterSlide ID="2" created="1488206348523" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/80048d397f0001014ec713e826cb3b32</URIString>
                <titleStyle ID="3" label="Header"
                    created="1488206348571" x="329.0" y="174.5"
                    width="142.0" height="51.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/80048d3c7f0001014ec713e804b3d498</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1488206348574" x="340.0" y="282.5"
                    width="120.0" height="35.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/80048d3f7f0001014ec713e8bb3bd2eb</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1488206348577"
                    x="372.5" y="385.0" width="55.0" height="30.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/80048d427f0001014ec713e8a0558e1f</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2017-02-27</date>
    <modelVersion>6</modelVersion>
    <saveLocation>/home/leo/git/cours/programmation/7-cours-fondamentaux/cours-2-html/images</saveLocation>
    <saveFile>/home/leo/git/cours/programmation/7-cours-fondamentaux/cours-2-html/images/schema-lexique-arborescence--ancetres-descendants.vue</saveFile>
</LW-MAP>
