<!-- Tufts VUE 3.3.0 concept-map (schema-lexique-arborescence.vue) 2017-02-27 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/usr/bin/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Mon Feb 27 15:04:51 CET 2017 by leo on platform Linux 3.19.0-32-generic in JVM 1.7.0_91-b02 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0"
    label="schema-lexique-arborescence.vue" created="1488194479238"
    x="0.0" y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1488204291919"
        spec="/home/leo/git/cours/programmation/7-cours-fondamentaux/cours-2-html/images/schema-lexique-arborescence.vue"
        type="1" xsi:type="URLResource">
        <title>schema-lexique-arborescence.vue</title>
        <property key="File" value="/home/leo/git/cours/programmation/7-cours-fondamentaux/cours-2-html/images/schema-lexique-arborescence.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/7fe35f7a7f0001014ec713e8dbc79f1f</URIString>
    <child ID="6" label="racine" layerID="1" created="1488194482795"
        x="392.5" y="298.0" width="50.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe35f807f0001014ec713e87d8ffcb0</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="8" label="noeud interne" layerID="1"
        created="1488204105288" x="419.0" y="216.0" width="100.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe35f857f0001014ec713e822c6d426</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="9" label="feuille" layerID="1" created="1488204144136"
        x="393.5" y="134.5" width="48.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe35f8a7f0001014ec713e8493c3af7</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="10" label="feuille" layerID="1" created="1488204149111"
        x="314.0" y="216.0" width="48.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe35f8f7f0001014ec713e8fb18fcd2</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="11" label="feuille" layerID="1" created="1488204168288"
        x="501.0" y="134.5" width="48.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe35f937f0001014ec713e8a4801afa</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="12" layerID="1" created="1488204177428" x="348.64938"
        y="238.49998" width="58.201233" height="60.00003"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe35f977f0001014ec713e8612a2689</URIString>
        <point1 x="406.35062" y="298.00003"/>
        <point2 x="349.14938" y="239.0"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">10</ID2>
    </child>
    <child ID="13" layerID="1" created="1488204178609" x="424.22253"
        y="238.5" width="38.0549" height="60.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe35f9d7f0001014ec713e88648ac40</URIString>
        <point1 x="424.72256" y="298.0"/>
        <point2 x="461.77747" y="239.0"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">8</ID2>
    </child>
    <child ID="14" layerID="1" created="1488204179650" x="424.26685"
        y="157.0" width="37.966278" height="59.5" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe35fa17f0001014ec713e8918a5cd7</URIString>
        <point1 x="461.73315" y="216.0"/>
        <point2 x="424.76688" y="157.5"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">9</ID2>
    </child>
    <child ID="15" layerID="1" created="1488204181186" x="476.40186"
        y="157.0" width="41.19632" height="59.5" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/7fe35fa57f0001014ec713e8adf7a6fe</URIString>
        <point1 x="476.90182" y="216.0"/>
        <point2 x="517.09814" y="157.5"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">11</ID2>
    </child>
    <layer ID="1" label="Layer 1" created="1488194479247" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/7fe35fab7f0001014ec713e80cdfb0c0</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="-14.0" y="-14.0"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Chemin sans nom" created="1488194479232"
            x="0.0" y="0.0" width="1.4E-45" height="1.4E-45"
            strokeWidth="0.0" autoSized="false" currentIndex="-1" open="true">
            <strokeColor>#B3993333</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/7fe35fb27f0001014ec713e874611063</URIString>
            <masterSlide ID="2" created="1488194479336" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/7fe35fb67f0001014ec713e8fc0f145c</URIString>
                <titleStyle ID="3" label="Header"
                    created="1488194479515" x="329.0" y="174.5"
                    width="142.0" height="51.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/7fe35fbb7f0001014ec713e8f1576feb</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1488194479522" x="340.0" y="282.5"
                    width="120.0" height="35.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/7fe35fc27f0001014ec713e8459581d6</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1488194479529"
                    x="372.5" y="385.0" width="55.0" height="30.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/7fe35fdc7f0001014ec713e846c0cf8f</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2017-02-27</date>
    <modelVersion>6</modelVersion>
    <saveLocation>/home/leo/git/cours/programmation/7-cours-fondamentaux/cours-2-html/images</saveLocation>
    <saveFile>/home/leo/git/cours/programmation/7-cours-fondamentaux/cours-2-html/images/schema-lexique-arborescence.vue</saveFile>
</LW-MAP>
