<!-- Tufts VUE 3.2.1 concept-map (HTML.vue) 2017-02-16 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/Applications/VUE.app/Contents/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Thu Feb 16 16:20:44 CET 2017 by leo on platform Mac OS X 10.9.5 in JVM 1.6.0_65-b14-462-11M4609 -->
<!-- Do Not Remove: Saving version @(#)VUE: built May 18 2013 at 1507 by tomadm on Linux 2.6.18-348.2.1.el5 i386 JVM 1.6.0_41-b02(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0" label="HTML.vue"
    created="1487242886924" x="0.0" y="0.0" width="1.4E-45"
    height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1487258444305" size="31935"
        spec="/Users/leo/Travail/ongoing/A.010 Cours/git/cours/programmation/7-cours-fondamentaux/HTML.vue"
        type="1" xsi:type="URLResource">
        <title>HTML.vue</title>
        <property key="File" value="/Users/leo/Travail/ongoing/A.010 Cours/git/cours/programmation/7-cours-fondamentaux/HTML.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/46b72fbac0a801fa016ad4472398de51</URIString>
    <child ID="6" label="code source&#xa;(HTML)" layerID="1"
        created="1487244807324" x="208.0" y="476.0" width="94.5"
        height="91.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#FDE888</fillColor>
        <strokeColor>#00000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/46b72fbac0a801fa016ad447c48f4e8e</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="7" label="DOM" layerID="1" created="1487244823303"
        x="625.5" y="478.0" width="94.5" height="86.0" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#00000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/46b72fbbc0a801fa016ad447cd63d49b</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="8" label="document outline" layerID="1"
        created="1487244828173" x="194.5" y="981.0" width="117.399994"
        height="86.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/46b72fbbc0a801fa016ad44711f2ffed</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="9" label="navigateur" layerID="1" created="1487244837141"
        x="413.5" y="627.0" width="101.0" height="86.0"
        strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#33A8F5</fillColor>
        <strokeColor>#00000000</strokeColor>
        <textColor>#FFFFFF</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/46b72fbcc0a801fa016ad447059c8d99</URIString>
        <shape xsi:type="hexagon"/>
    </child>
    <child ID="10" label="lu par" layerID="1" created="1487244850722"
        x="302.0" y="515.0" width="104.5" height="13.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/46b72fbcc0a801fa016ad447a4238445</URIString>
        <point1 x="302.5" y="521.5"/>
        <point2 x="406.0" y="521.5"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">27</ID2>
    </child>
    <child ID="11" label="g&#xe9;n&#xe8;re" layerID="1"
        created="1487244859218" x="522.5" y="514.73645"
        width="103.51257" height="13.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/46b72fc2c0a801fa016ad447c4a3a7cc</URIString>
        <point1 x="523.0" y="521.35956"/>
        <point2 x="625.5126" y="521.1134"/>
        <ID1 xsi:type="node">27</ID1>
        <ID2 xsi:type="node">7</ID2>
    </child>
    <child ID="12" label="g&#xe9;n&#xe8;rent" layerID="1"
        created="1487244862202" x="277.99304" y="917.9"
        width="44.814728" height="67.95105" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/46b72fc3c0a801fa016ad447a15253a2</URIString>
        <point1 x="322.30774" y="918.4"/>
        <point2 x="278.493" y="985.3511"/>
        <ID1 xsi:type="node">35</ID1>
        <ID2 xsi:type="node">8</ID2>
    </child>
    <child ID="23" label="Document Object Model" layerID="1"
        created="1487245555838" x="807.0" y="447.0" width="142.0"
        height="22.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/46be623bc0a801fa016ad44713364acf</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="24" label="signifie" layerID="1" created="1487245563100"
        x="716.82874" y="468.5" width="125.83386" height="39.316864"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/46be623bc0a801fa016ad447cfb3c71b</URIString>
        <point1 x="717.32874" y="507.31686"/>
        <point2 x="842.1626" y="469.0"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">23</ID2>
    </child>
    <child ID="25"
        label="une repr&#xe9;sentation du document sous forme d'arborescence"
        layerID="1" created="1487245638035" x="777.0" y="511.0"
        width="338.0" height="22.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/46bfdf47c0a801fa016ad4476ef3379e</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="26" label="est" layerID="1" created="1487245659161"
        x="719.48083" y="514.7772" width="58.019165" height="13.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/46bfdf47c0a801fa016ad447187b3057</URIString>
        <point1 x="719.98083" y="521.17285"/>
        <point2 x="777.0" y="521.38153"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">25</ID2>
    </child>
    <child ID="27" label="moteur de rendu" layerID="1"
        created="1487245733739" x="406.0" y="504.0" width="117.0"
        height="35.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#EA2218</fillColor>
        <strokeColor>#00000000</strokeColor>
        <textColor>#FFFFFF</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47274babc0a801fa016ad44778fff28c</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="28" label="Gecko" layerID="1" created="1487245757321"
        x="242.0" y="402.0" width="46.0" height="22.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47274badc0a801fa016ad4478badf6f9</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="29" label="WebKit" layerID="1" created="1487245772722"
        x="321.0" y="323.0" width="50.0" height="22.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47274bb1c0a801fa016ad4478de95797</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="30" label="Blink" layerID="1" created="1487245779001"
        x="270.0" y="355.0" width="38.0" height="22.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47274bb1c0a801fa016ad4476fc61f97</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="31" label="firefox utilise" layerID="1"
        created="1487245789159" x="284.72577" y="423.5"
        width="148.09677" height="81.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47274bb1c0a801fa016ad447bfd9c8d9</URIString>
        <point1 x="432.32257" y="504.0"/>
        <point2 x="285.2258" y="424.0"/>
        <ID1 xsi:type="node">27</ID1>
        <ID2 xsi:type="node">28</ID2>
    </child>
    <child ID="32" label="chrome utilise" layerID="1"
        created="1487245790223" x="300.9148" y="376.5" width="144.33441"
        height="128.0" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47274bb1c0a801fa016ad4471a25c58c</URIString>
        <point1 x="444.7492" y="504.0"/>
        <point2 x="301.4148" y="377.0"/>
        <ID1 xsi:type="node">27</ID1>
        <ID2 xsi:type="node">30</ID2>
    </child>
    <child ID="33" label="Safari utilise" layerID="1"
        created="1487245791255" x="352.45203" y="344.5"
        width="101.487976" height="160.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47274bb2c0a801fa016ad4474ba0cc56</URIString>
        <point1 x="453.44" y="504.0"/>
        <point2 x="352.95203" y="345.0"/>
        <ID1 xsi:type="node">27</ID1>
        <ID2 xsi:type="node">29</ID2>
    </child>
    <child ID="34" label="comprend un" layerID="1"
        created="1487251177303" x="431.79294" y="538.5" width="65.0"
        height="89.0" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47274bb2c0a801fa016ad4471cafa1c1</URIString>
        <point1 x="464.14478" y="627.0"/>
        <point2 x="464.4411" y="539.0"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">27</ID2>
    </child>
    <child ID="35" label="moteurs de recherche" layerID="1"
        created="1487251644536" x="259.0" y="879.0" width="152.4"
        height="39.4" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47274bb2c0a801fa016ad44702c8c767</URIString>
        <shape xsi:type="hexagon"/>
    </child>
    <child ID="36" label="Technologies assistives" layerID="1"
        created="1487251658536" x="83.899994" y="879.0" width="164.6"
        height="40.6" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47274bb2c0a801fa016ad4477bcb1afc</URIString>
        <shape xsi:type="hexagon"/>
    </child>
    <child ID="37" label="non-voyants ou mal-voyants" layerID="1"
        created="1487251671446" x="-180.0" y="889.0" width="164.0"
        height="22.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47274bb3c0a801fa016ad447d309cb72</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="38" label="utilisent" layerID="1" created="1487251686860"
        x="-16.5" y="893.1499" width="101.297165" height="13.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47274bb3c0a801fa016ad447c048fe20</URIString>
        <point1 x="-16.0" y="899.7828"/>
        <point2 x="84.297165" y="899.51697"/>
        <ID1 xsi:type="node">37</ID1>
        <ID2 xsi:type="node">36</ID2>
    </child>
    <child ID="39" label="lu par" layerID="1" created="1487251828121"
        x="289.5" y="779.5" width="38.698395" height="100.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47274bb3c0a801fa016ad447cde8be2b</URIString>
        <point1 x="290.0" y="780.0"/>
        <point2 x="327.6984" y="879.0"/>
        <ID2 xsi:type="node">35</ID2>
    </child>
    <child ID="40" label="lu par" layerID="1" created="1487251836722"
        x="172.2417" y="781.5" width="32.258316" height="98.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47274bb3c0a801fa016ad4479e451f84</URIString>
        <point1 x="204.0" y="782.0"/>
        <point2 x="172.74168" y="879.0"/>
        <ID2 xsi:type="node">36</ID2>
    </child>
    <child ID="41" label="g&#xe9;n&#xe8;rent" layerID="1"
        created="1487251887912" x="179.8628" y="919.1" width="47.235794"
        height="67.2713" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47274bb4c0a801fa016ad44704edbc11</URIString>
        <point1 x="180.36278" y="919.6"/>
        <point2 x="226.59857" y="985.8713"/>
        <ID1 xsi:type="node">36</ID1>
        <ID2 xsi:type="node">8</ID2>
    </child>
    <child ID="42"
        label="composant logiciel&#xa;combinant contenu&#xa;et informations de mise en page&#xa;pour affichage"
        layerID="1" created="1487252358145" x="363.0" y="216.0"
        width="202.0" height="80.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47274bb4c0a801fa016ad44734ec4b35</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="43" label="est un" layerID="1" created="1487252421621"
        x="448.77118" y="295.5" width="31.0" height="209.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47274bb4c0a801fa016ad4471e2c05f5</URIString>
        <point1 x="464.46704" y="504.0"/>
        <point2 x="464.07532" y="296.0"/>
        <ID1 xsi:type="node">27</ID1>
        <ID2 xsi:type="node">42</ID2>
    </child>
    <child ID="44" label="CSS" layerID="1" created="1487252551212"
        x="785.0" y="648.0" width="46.0" height="43.0" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#00000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/472b62cdc0a801fa016ad447b44fbfd1</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="46" label="utilise" layerID="1" created="1487252729294"
        x="658.8184" y="563.4375" width="28.0" height="51.0625"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47319252c0a801fa016ad447f7604344</URIString>
        <point1 x="672.8436" y="614.0"/>
        <point2 x="672.7932" y="563.9375"/>
        <ID1 xsi:type="node">48</ID1>
        <ID2 xsi:type="node">7</ID2>
    </child>
    <child ID="47" label="affich&#xe9; dans" layerID="1"
        created="1487252746750" x="514.0" y="663.5" width="98.49994"
        height="13.0" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47319252c0a801fa016ad447b93e4ad5</URIString>
        <point1 x="611.99994" y="670.0"/>
        <point2 x="514.5" y="670.0"/>
        <ID1 xsi:type="node">48</ID1>
        <ID2 xsi:type="node">9</ID2>
    </child>
    <child ID="45" label="utilise" layerID="1" created="1487252725863"
        x="733.27527" y="663.1798" width="52.233887" height="13.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47319253c0a801fa016ad44719c7154e</URIString>
        <point1 x="733.77527" y="669.77466"/>
        <point2 x="785.00916" y="669.585"/>
        <ID1 xsi:type="node">48</ID1>
        <ID2 xsi:type="node">44</ID2>
    </child>
    <child ID="48"
        label="combinaison&#xa;DOM et&#xa;informations de&#xa;mise en page"
        layerID="1" created="1487252815895" x="612.0" y="614.0"
        width="121.79999" height="112.0" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#FFC63B</fillColor>
        <strokeColor>#00000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47319254c0a801fa016ad447e5109159</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="50" label="Cascading Style Sheets" layerID="1"
        created="1487252959764" x="913.0" y="588.0" width="141.0"
        height="22.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47319254c0a801fa016ad4473c37974c</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="51" label="signifie" layerID="1" created="1487252968842"
        x="828.6246" y="609.5" width="127.99243" height="52.014038"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47319254c0a801fa016ad447b8cbb95e</URIString>
        <point1 x="829.1246" y="661.01404"/>
        <point2 x="956.117" y="610.0"/>
        <ID1 xsi:type="node">44</ID1>
        <ID2 xsi:type="node">50</ID2>
    </child>
    <child ID="52"
        label="une description de la pr&#xe9;sentation du document"
        layerID="1" created="1487252981164" x="909.0" y="659.0"
        width="270.0" height="22.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47319254c0a801fa016ad4475e0c73f0</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="53" label="sont" layerID="1" created="1487253056320"
        x="830.49475" y="663.13135" width="79.00525" height="13.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47319255c0a801fa016ad447e238e282</URIString>
        <point1 x="830.99475" y="669.5487"/>
        <point2 x="909.0" y="669.714"/>
        <ID1 xsi:type="node">44</ID1>
        <ID2 xsi:type="node">52</ID2>
    </child>
    <child ID="54" label="Feuilles de Style en Cascade" layerID="1"
        created="1487253068658" x="1130.0" y="590.0" width="170.0"
        height="22.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47319255c0a801fa016ad4472a696b81</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="56" label="en fran&#xe7;ais" layerID="1"
        created="1487253080559" x="1053.5" y="593.4374" width="77.0"
        height="13.0" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47319255c0a801fa016ad447ec50f65e</URIString>
        <point1 x="1054.0" y="599.6091"/>
        <point2 x="1130.0" y="600.2657"/>
        <ID1 xsi:type="node">50</ID1>
        <ID2 xsi:type="node">54</ID2>
    </child>
    <child ID="57" label="Mod&#xe8;le de l'Objet Document" layerID="1"
        created="1487253085754" x="1040.0" y="447.0" width="165.0"
        height="22.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47319255c0a801fa016ad447c8c05f1e</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="58" label="en fran&#xe7;ais" layerID="1"
        created="1487253102415" x="948.5" y="451.5" width="92.0"
        height="13.0" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47319255c0a801fa016ad4479bb4f60d</URIString>
        <point1 x="949.0" y="458.0"/>
        <point2 x="1040.0" y="458.0"/>
        <ID1 xsi:type="node">23</ID1>
        <ID2 xsi:type="node">57</ID2>
    </child>
    <child ID="60" label="navigation dans le document" layerID="1"
        created="1487253255182" x="-182.0" y="1012.0" width="168.0"
        height="22.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47342b14c0a801fa016ad447cc92f444</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="61" label="permet" layerID="1" created="1487253270203"
        x="-14.5" y="1017.0361" width="209.52298" height="13.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47342b14c0a801fa016ad447ea089387</URIString>
        <point1 x="194.52298" y="1023.83295"/>
        <point2 x="-14.0" y="1023.2392"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">60</ID2>
    </child>
    <child ID="62" label="aux" layerID="1" created="1487253271187"
        x="-107.5" y="910.5" width="19.0" height="102.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/47342b14c0a801fa016ad447d61c5035</URIString>
        <point1 x="-98.0" y="1012.0"/>
        <point2 x="-98.0" y="911.0"/>
        <ID1 xsi:type="node">60</ID1>
        <ID2 xsi:type="node">37</ID2>
    </child>
    <child ID="65"
        label="est un concept mal d&#xe9;fini et sujet &#xe0; controverse, voir http://adrianroselli.com/2016/08/there-is-no-document-outline-algorithm.html"
        layerID="1" created="1487253855674" x="440.0" y="1015.0"
        width="707.0" height="22.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/473d5058c0a801fa016ad4479cf372e1</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="66" layerID="1" created="1487253882279" x="311.37012"
        y="1023.71716" width="129.12988" height="1.4743652"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/473d5058c0a801fa016ad447a8ce5d4e</URIString>
        <point1 x="311.87012" y="1024.2172"/>
        <point2 x="440.0" y="1024.6915"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">65</ID2>
    </child>
    <child ID="67" label="proc&#xe8;de &#xe0;" layerID="1"
        created="1487258054344" x="488.55896" y="538.5"
        width="136.90018" height="97.83862" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/477d8e1cc0a801fa016ad4478aa06156</URIString>
        <point1 x="489.05893" y="539.0"/>
        <point2 x="624.9591" y="635.8386"/>
        <ID1 xsi:type="node">27</ID1>
        <ID2 xsi:type="node">48</ID2>
    </child>
    <layer ID="1" label="Layer 1" created="1487242886928" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/46b72fc5c0a801fa016ad447510e1cf9</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="-1338.0" y="-14.0"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Chemin sans nom" created="1487242886923"
            x="0.0" y="0.0" width="1.4E-45" height="1.4E-45"
            strokeWidth="0.0" autoSized="false" currentIndex="-1" open="true">
            <strokeColor>#B3993333</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/46b72fc6c0a801fa016ad4477b01781f</URIString>
            <masterSlide ID="2" created="1487242886949" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/46b72fc6c0a801fa016ad447ad1d2c8c</URIString>
                <titleStyle ID="3" label="Header"
                    created="1487242887005" x="341.0" y="175.0"
                    width="118.0" height="50.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/46b72fc7c0a801fa016ad4470d489ca1</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1487242887006" x="349.5" y="282.5"
                    width="101.0" height="35.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/46b72fcac0a801fa016ad44779e410d7</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1487242887007"
                    x="375.5" y="385.0" width="49.0" height="30.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/46b72fcbc0a801fa016ad4471260a6ca</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2017-02-16</date>
    <modelVersion>6</modelVersion>
    <saveLocation>/Users/leo/Travail/ongoing/A.010 Cours/git/cours/programmation/7-cours-fondamentaux</saveLocation>
    <saveFile>/Users/leo/Travail/ongoing/A.010 Cours/git/cours/programmation/7-cours-fondamentaux/HTML.vue</saveFile>
</LW-MAP>
